<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephanie Sack: Who Am I?</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
        <main>
            <section>
                <h2>Hi, I'm Stephanie Sack!</h2>
                <p>I'm a 22-year-old MSIS student at IU Kelley School of Business. I love exploring new foods, crocheting, and spending time with my dog. My dream is to work in cybersecurity and live on the East Coast. Welcome to my little corner of the internet!</p>
            </section>
        </main>
    {% endblock %}
</body>
</html>